<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
     <script src="/layui/layui.js" charset="utf-8"></script>-->

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/echarts/echarts.min.js}" charset="utf-8"></script>

</head>

<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>

<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    var option = null;
    var $;
    layui.use('layer', function(){
         $=layui.jquery;
        $.get("/dataanalysis/monthIncomes",function (respData) {

           var dates=new Array();
           var income=new Array();

            for (let i = 0; i < respData.length; i++) {
                dates[i]=respData[i].date;
                income[i]=respData[i].income;
            }
            option = {
                xAxis: {
                    type: 'category',
                    data: dates
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: income,
                   /* barWidth: 30,*/
                    type: 'bar'
                }]
            };
            ;
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }

        });
    });




</script>

</body>
</html>