<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的值跟mapper接口的名称保持一致 -->
<mapper namespace="com.xing.crm.mapper.OrderMapper">
<!--公共的sql片段-->
    <sql id="searchWhere">
        <where>
            <if test="condition.name!=null and condition.name !=''">
                name like '%${condition.name}%'
            </if>
            <if test="condition.providername!=null and condition.providername !=''">
               and providername like '%${condition.providername}%'
            </if>
            <if test="condition.ispay!=null and condition.ispay !=''">
               and ispay like '%${condition.ispay}%'
            </if>
        </where>
    </sql>



    <select id="findCountByMap"  parameterType="map" resultType="int">
        SELECT count(*) FROM szcrm.order
        <include refid="searchWhere"></include>
    </select>

    <select id="fingListByMap" parameterType="map" resultType="order">
        SELECT * FROM szcrm.order
        <include refid="searchWhere"></include>
        order by id desc  limit #{start},#{pageSize}

    </select>

    <insert id="insert" parameterType="map">
        insert into szcrm.order
        (id,name,ordercode,providername,ispay,orderprice,sale,orderdate)
        values (UUID(),#{name},#{ordercode},#{providername},#{ispay},#{orderprice},#{sale},CURRENT_DATE());
    </insert>

    <select id="findByOrderId" resultType="order" parameterType="string">
        select * from szcrm.order where id=#{id}
    </select>

    <delete id="deleteByOrderId" parameterType="string">
        delete from szcrm.order where id=#{id}
    </delete>

    <select id="getMonthIncomes" resultType="MonthIncome">
        select left(orderdate,7) as date,
            count(*)as total,
            SUM(convert(orderprice,decimal(18,2))) as income
        from szcrm.order
        group by left(orderdate,7);
    </select>



    <select id="getPie" resultType="ProviderBarVo">
        select sale,name from  szcrm.order
    </select>


    <update id="update" parameterType="order">
        update szcrm.order set name=#{name},ordercode=#{ordercode},providername=#{providername}
                ,ispay=#{ispay},orderprice=#{orderprice},orderdate=#{orderdate},sale=#{sale}
        where id=#{id}
    </update>

</mapper>