<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>



<form class="layui-form" action="" id="form1">
    <br>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">供应商编码</label>
            <div class="layui-input-inline">
                <input type="hidden" name="id" required="required" th:value="${provider.id} " class="layui-input">
                <input type="text" name="pcode"  th:value="${provider.pcode} "  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商名字</label>
            <div class="layui-input-inline">
                <input type="text" name="pname" required="required" th:value="${provider.pname}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">联系人名字</label>
            <div class="layui-input-inline">
                <input type="tel" name="pcontext" th:value="${provider.pcontext}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="tel" name="phone" th:value="${provider.phone}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" required="required" th:value="${provider.email}"  autocomplete="off" class="layui-input">
            </div>
        </div>


    </div>

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="createdate" th:value="${provider.createdate}" id="date1"  placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>



    </div>


</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button type="submit" onclick="doSave()" class="layui-btn" >立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>

<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script th:inline="javascript">

    var $,layer;
    layui.use(['form','laydate'],function (){

       var laydate = layui.laydate;
       $=layui.jquery;
       layer=layui.layer;

        //日期
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date'
        });



    })

    function doSave() {
       var requestData = $("#form1").serialize();

        $.post("/provider/update",requestData,function (responseData) {
            if(responseData.success == 1){
               parent.layer.alert("更新供应商成功",{yes:function () {
                       parent.layer.closeAll();
                   }
               });
            }else {
                parent.layer.alert("更新供应商失败",{yes:function () {
                        parent.layer.closeAll();
                        window.parent.location.reload();
                    }
                });

            }



            
        });
    }

</script>

</body>
</html>